
	<legend><%= @requerimiento.tipo_requerimiento.nombre.capitalize %> <%=  "\##{@requerimiento.numero}" if @requerimiento.persisted? %></legend>
	
	<div class="row">
		<div class="span12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
			  <b>Descripcion:</b>
			  <%= @requerimiento.descripcion %>
			</p>
			
			<p>
			  <b>Aplicacion:</b>
			  <%= @requerimiento.aplicacion.nombre %>
			</p>
			<p>
			  <b>Usuario solicitante:</b>
			  <%= @requerimiento.solicitante.login %>
			</p>
			<p>
			  <b>Responsable DIT:</b>
			  <%= @requerimiento.lider.login %>
			</p>
			
		</div>
		<div class="span6">
			<p>
			  <b>Area responsable:</b>
			  <%= @requerimiento.area.nombre %>
			</p>
			<p>
			  <b>Fecha fin estimada:</b>
			  <%= pretty_date(@requerimiento.fecha_fin_estimada) %>
			</p>
			<p>
				<b>Implementado:</b>
				<%= pretty_date(@requerimiento.fecha_implementacion) %>
			</p>
			
		</div>
	</div>
	
	<br/>
	<legend>Estimaciones de &aacute;reas involucradas en el requerimiento</legend>

	<div class="row">
		<div class="span6">
			<%= form_tag("/requerimientos_areas", :method => 'post', :class => 'form-horizontal', :remote => true) do %>
				<input type="hidden" name="requerimiento_area[requerimiento_id]" value="<%= @requerimiento.id %>"/>
				<select name="requerimiento_area[area_id]">
					<% @areas.each do |a| %>
						<option value="<%= a.id %>"><%= a.nombre %></option>
					<% end %>
				</select>
				<input type="submit" value="Agregar" class="btn btn-primary" />
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<%= render  :template => 'requerimientos_areas/index', :locals => {:requerimientos_areas => @requerimiento.requerimientos_areas} %>			
		</div>
	</div>

	<div class="form-actions">
		<%= link_to 'Editar', edit_requerimiento_path(@requerimiento), :class => 'btn' %>
		<%= link_to 'Volver', requerimientos_path, :class => 'btn' %>
	</div>
