
	<div class="page-header">
		<h1>Listado de aplicaciones</h1>		
	</div>

	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
    			<th>Nombre</th>
    			<th></th>
    			<th></th>
    			<th></th>
  			</tr>
		</thead>
		<tbody>
			<% @aplicaciones.each do |aplicacion| %>
  				<tr>
				    <td><%= aplicacion.nombre %></td>
				    <td><%= link_to 'Ver', aplicacion %></td>
				    <td><%= link_to 'Editar', edit_aplicacion_path(aplicacion) %></td>
				    <td><%= link_to 'Destruir', aplicacion, confirm: '¿Está seguro?', method: :delete %></td>
  				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nueva aplicación', new_aplicacion_path, :class => 'btn btn-primary' %>
	</div>
