
	<%= form_for(@tipo_requerimiento, :html => {:class => 'form-horizontal'}) do |f| %>
  		<% if @tipo_requerimiento.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@tipo_requerimiento.errors.count, "error") %> prohibited this tipo_requerimiento from being saved:</h2>
      			<ul>
      				<% @tipo_requerimiento.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

  		<div class="control-group">
    		<%= f.label :nombre, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :nombre %></div>
  		</div>
  		<div class="form-actions">
    		<%= f.submit 'Grabar', :class => 'btn btn-primary' %>
    		<%= link_to 'Volver', tipos_requerimientos_path, :class => 'btn' %>
  		</div>
	<% end %>
