
	<div class="page-header">
		<h1>Listando los tipos de actividad</h1>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
		    	<th>Nombre</th>
		    	<th></th>
		    	<th></th>
		    	<th></th>
		  	</tr>
		</thead>
		<tbody>
			<% @tipos_requerimientos.each do |tipo_requerimiento| %>
			  <tr>
			    <td><%= tipo_requerimiento.nombre %></td>
			    <td><%= link_to 'Ver', tipo_requerimiento %></td>
			    <td><%= link_to 'Editar', edit_tipo_requerimiento_path(tipo_requerimiento) %></td>
			    <td><%= link_to 'Destruir', tipo_requerimiento, confirm: '¿Está seguro?', method: :delete %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nuevo tipo de actividad', new_tipo_requerimiento_path, :class => 'btn btn-primary' %>
	</div>
