
	<legend>Informaci칩n del 치rea</legend>
	
	<div class="row">
		<div class="span12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
			  <b>Nombre:</b>
			  <%= @area.nombre %>
			</p>
		</div>
	</div>

	<br />

	<legend>Usuarios del 치rea</legend>

	<div class="row">
		<div class="span6">
			<%= form_tag("/areas_usuarios", :method => 'post', :class => 'form-horizontal', :remote => true) do %>
				<input type="hidden" name="area_usuario[area_id]" value="<%= @area.id %>"/>
				<select name="area_usuario[usuario_id]">
					<% @usuarios.each do |u| %>
						<option value="<%= u.id %>"><%= u.apellido %>, <%= u.nombre %></option>
					<% end %>
				</select>
				<input type="submit" value="Agregar al 치rea" class="btn btn-primary" />
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<%= render  :template => 'areas_usuarios/index', :locals => {:areas_usuarios => @area.areas_usuarios} %>			
		</div>
	</div>

	<div class="form-actions">
		<%= link_to 'Editar', edit_area_path(@area), :class => 'btn' %>
		<%= link_to 'Volver', areas_path, :class => 'btn' %>
	</div>
