
	<form id="filtro">
		<legend>
			Listado de planificaciones semanales de 
			<select name="periodo" onchange="javascript: document.getElementById('filtro').submit();">
				<option value="este_mes" <%= "selected" if session[:periodo_ps] == 'este_mes' %>>este mes</option>
				<option value="este_y_prox" <%= "selected" if session[:periodo_ps] == 'este_y_prox'%>>este mes y el próximo</option>
				<option value="todos" <%= "selected" if session[:periodo_ps] == 'todos' %>>todos los meses</option>
			</select>
		</legend>
	</form>

	<% @semanas.each do |s| %>
		<h3>Semana del <%= pretty_date(s.desde) %> al <%= pretty_date(s.hasta) %></h3>
		
		<ul>
			<% @usuarios.each do |u| 
				plan_semanal = PlanificacionSemanal.where(:usuario_id => u.id, :semana_id => s.id).first
				
				unless plan_semanal.nil? %>
					<li><%= link_to "#{u.nombre} #{u.apellido}", edit_planificacion_semanal_path(plan_semanal) %></li>
				<% else %>
					<li>
						<%= u.nombre %>&nbsp;<%= u.apellido %> sin planificaci&oacute;n - 
						<%= link_to 'Crear', "#{new_planificacion_semanal_path}/#{u.id}/#{s.id}" %>
					</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>