
	<%= form_for(@usuario, :html => {:class => 'form-horizontal'} ) do |f| %>
  		<% if @usuario.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
      			<ul>
      				<% @usuario.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

  		<div class="control-group">
    		<%= f.label :nombre, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :nombre %></div>
  		</div>
  		<div class="control-group">
    		<%= f.label :apellido, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :apellido %></div>
  		</div>
  		<div class="control-group">
    		<%= f.label :login, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :login %></div>
  		</div>
  		<div class="control-group">
  			<%= f.label :carga_planificacion, :class => 'control-label' %>
  			<div class="controls"><%= f.check_box :carga_planificacion %></div>
  		</div>
  		<div class="form-actions">
    		<%= f.submit 'Grabar', :class => 'btn btn-primary' %>
    		<%= link_to 'Volver', usuarios_path, :class => 'btn' %>
  		</div>
	<% end %>
