
	<div class="row">
		<div class="span12">
			<span class="label label-info"><%= notice %></span>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
			  <b>Nombre:</b>
			  <%= @usuario.nombre %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<p>
			  <b>Apellido:</b>
			  <%= @usuario.apellido %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<p>
			  <b>Login:</b>
			  <%= @usuario.login %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<p>
				<b><%= (((not @usuario.carga_planificacion.nil? and @usuario.carga_planificacion)? "": "no") + " carga planificación").strip.capitalize %></b>				
			</p>
		</div>
	</div>

	<div class="form-actions">
		<%= link_to 'Editar', edit_usuario_path(@usuario), :class => 'btn' %>
		<%= link_to 'Volver', usuarios_path, :class => 'btn' %>
	</div>
