<%= form_for(@planificacion_requerimiento) do |f| %>
  <% if @planificacion_requerimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planificacion_requerimiento.errors.count, "error") %> prohibited this planificacion_requerimiento from being saved:</h2>

      <ul>
      <% @planificacion_requerimiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%= f.hidden_field :planificacion_id %>
    <h2><%= @planificacion_requerimiento.planificacion.descripcion %></h2>
  </div>
  
  <% unless @planificacion_requerimiento.requerimiento.nil? %>
  	<div class="left">
	  	<div class="left">
		  <p>
		  	<b>Nro. RQ.:</b>
		  	<%= @planificacion_requerimiento.requerimiento.numero %>
		  </p>
		  <p>
		  	<b>Descripci&oacute;n:</b>
		  	<%= @planificacion_requerimiento.requerimiento.descripcion %>
		  </p>
		  <p>
		  	<b>Fecha fin estimada:</b>
		  	<%= @planificacion_requerimiento.requerimiento.fecha_fin_estimada %>
		  </p>
	  	</div>
	  	<div class="right">
		  <p>
		  	<b>D&iacute;as estimados:</b>
		  	<%= @planificacion_requerimiento.requerimiento.dias_estimados %>
		  </p>
		  <p>
		  	<b>Dedicaci&oacute;n previa:</b>
		  	<%= @planificacion_requerimiento.dedicacion_previa %>
		  </p>
		  <p>
		  	<b>Dedicaci&oacute;n restante:</b>
		  	<%= @planificacion_requerimiento.dedicacion_restante %>
		  </p>
		  <p>
		  	<b>D&iacute;as disponibles del mes para asignar:</b>
		  	<%= @planificacion_requerimiento.planificacion.dias_disponibles %>
		  </p>
	  	</div>
  	</div>
  <% else %>
	  <div class="field">
	    <%= f.label :requerimiento %><br />
	    <%= f.select :requerimiento_id, @requerimientos %>
	  </div>
  <% end %>
  
	  <div class="field">
	    <%= f.label :dedicacion_mes %><br />
	    <%= f.number_field :dedicacion_mes %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
  </div>
<% end %>
