<%= form_for(@planificacion) do |f| %>
  <% if @planificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planificacion.errors.count, "error") %> prohibited this planificacion from being saved:</h2>

      <ul>
      <% @planificacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mes %><br />
    <%= select_meses f, :mes %>
  </div>
  <div class="field">
    <%= f.label :anio %><br />
    <%= select_anios(f, :anio) %>
  </div>
  <div class="field">
    <%= f.label :cantidad_personas %><br />
    <%= f.number_field :cantidad_personas %>
  </div>
  <div class="field">
    <%= f.label :dias_mes %><br />
    <%= f.number_field :dias_mes %>
  </div>
  <div class="field">
    <%= f.label :coeficiente_ajuste %><br />
    <%= f.text_field :coeficiente_ajuste %>
  </div>
  <div class="field">
    <%= f.label :dias_totales %><br />
    <%= f.number_field :dias_totales %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.select :area_id, @areas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
