
	<div class="row">
		<div class="span12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">Nro. RQ.</th>
						<th rowspan="2">Descripci&oacute;n</th>
						<th rowspan="2">Tipo</th>
						<th rowspan="2">Aplicaci&oacute;n</th>
						<th rowspan="2">&Aacute;rea resp.</th>
						<th rowspan="2">D&iacute;as estimados</th>
						<th colspan="3">Dedicaci&oacute;n</th>
						<th rowspan="2">Fin estimado</th>
						<th rowspan="2">&nbsp;</th>
					</tr>
					<tr>
						<th>Previa</th>
						<th>Restante</th>
						<th>Este mes</th>
					</tr>
				</thead>
				<tbody>
					<% @planificacion.planificaciones_requerimientos.each do |p| %>
						<tr title="<%= p.requerimiento.observaciones %>">
							<td><%= p.requerimiento.numero %></td>
							<td><%= p.requerimiento.descripcion %></td>
							<td><%= p.requerimiento.tipo_requerimiento.nombre %></td>
							<td><%= p.requerimiento.aplicacion.nombre %></td>
							<td><%= p.requerimiento.area.nombre %></td>
							<td><%= p.requerimiento.dias_estimados %></td>
							<td><%= p.dedicacion_previa %></td>
							<td><%= p.dedicacion_restante %></td>
							<td><%= best_in_place p, :dedicacion_mes, :html_attrs => { :size => '1' } %></td>
							<td nowrap><%= p.requerimiento.fecha_fin_estimada %></td>
						    <td><%= link_to 'Borrar', p, confirm: '¿Está seguro?', method: :delete %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
