
	<div class="row">
		<div class="span12">
			<legend>
				<%= @planificacion.area.nombre %>
				&nbsp;/&nbsp;
				<%= best_in_place @planificacion, :mes, :type => :select, :collection => MESES.map { |k, v| [v, k] } %>
				&nbsp;de&nbsp;
				<%= best_in_place @planificacion, :anio, :type => :select, :collection => ANIOS.collect { |a| [a, a.to_s] } %>
			</legend>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>

	<div class="row">
		<div class="span6">

			<table class="table table-condensed table-striped table-bordered span4">
				<tbody>
					<tr>
						<td>D&iacute;as en el mes</td>
						<td><%= best_in_place @planificacion, :dias_mes, html_attrs: {:class => 'input-mini'}, data: {dias_totales_calculados: @planificacion.dias_totales_calculados} %></td>
					</tr>
					<tr>
						<td>&times; Cantidad de personas</td>
						<td><%= best_in_place @planificacion, :cantidad_personas, html_attrs: {class: 'input-mini'}, data: {dias_totales_calculados: @planificacion.dias_totales_calculados} %></td>
					</tr>
					<tr>
						<td>&times; Coeficiente ajuste</td>
						<td><%= best_in_place @planificacion, :coeficiente_ajuste, html_attrs: {size: '1'}, data: {dias_totales_calculados: @planificacion.dias_totales_calculados} %></td>
					</tr>
					<script>
						$('.best_in_place').bind("ajax:success", function(event, data)
						{
							var result = $.parseJSON(data); 
							$('#dias_totales_calculados').html(result['dias_totales_calculados']);
							$('#dias_totales_calculados').effect("highlight", {color: 'red'}, 3000);
						});
					</script>
					<tr>
						<td>&rArr; D&iacute;as totales</td>
						<td id="dias_totales_calculados"><%= @planificacion.dias_totales_calculados %></td>
					</tr>
					<tr>
						<td><strong>&rArr; D&iacute;as totales corregidos</strong></td>
						<td><strong><%= best_in_place @planificacion, :dias_totales, :html_attrs => { :size => '1' } %></strong></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class="span1">
			<b>Observaciones:</b>
		</div>
		<div class="span3">
			<%= best_in_place @planificacion, :observaciones, nil: 'Sin observaciones - click para agregar', type: :textarea, html_attrs: { rows: 7 } %>
		</div>
	</div>

	<legend>Requerimientos planificados para este mes</legend>
	
	<%= render 'planificaciones/requerimientos_mes' %>

	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<%= link_to 'Agregar requerimiento', "#{new_planificacion_requerimiento_path}/#{@planificacion.id}", :class => 'btn btn-primary' %>
				<%= link_to 'Volver', planificaciones_path, :class => 'btn' %>
			</div>
		</div>
	</div>
	