<p id="notice"><%= notice %></p>

<div>
	<div class="left" style="width: 100%">
		<div class="left">
			<h2>
				<%= @planificacion.area.nombre %>
				&nbsp;/&nbsp;
				<%= best_in_place @planificacion, :mes, :type => :select, :collection => MESES.map { |k, v| [v, k] } %>
				&nbsp;de&nbsp;
				<%= best_in_place @planificacion, :anio, :type => :select, :collection => ANIOS.collect { |a| [a, a.to_s] } %>
			</h2>
		</div>
		<div class="right">
			<%= link_to 'Volver', planificaciones_path %>
		</div>		
	</div>
	
	<div>
		<div class="left" style="width: 250px;">
			<p>
			  <b>Cantidad personas:</b>
			  <%= best_in_place @planificacion, :cantidad_personas, :html_attrs => { :size => '1', :class => 'editable' } %>
			</p>
			<p>
			  <b>D&iacute;as en el mes:</b>
			  <%= best_in_place @planificacion, :dias_mes, :html_attrs => { :size => '1' } %>
			</p>
		</div>
		<div class="left">
			<p>
			  <b>D&iacute;as disponibles (por recursos y dedicaci&oacute;n):</b>
			  <%= best_in_place @planificacion, :dias_totales, :html_attrs => { :size => '1' } %>
			</p>
			<p>
			  <b>Coeficiente ajuste:</b>
			  <%= best_in_place @planificacion, :coeficiente_ajuste, :html_attrs => { :size => '1' } %>
			</p>
		</div>
	</div>
	<div class="left" style="width: 100%">
		<%= render 'planificaciones/requerimientos_mes' %>
	</div>
	
	<div class="right">
		<%= link_to 'Volver', planificaciones_path %>
	</div>		
	
</div>