
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>">Gesti&oacute;n de la DIT</a>
          <div class="nav-collapse">
			<% if logueado? %>
				<ul class="nav">
					<%= li_menu 'planificaciones_semanales', 'Weekly ToDo'%>
					<%= li_menu 'planificaciones', 'Planificaciones' %>
					<%= li_menu 'requerimientos', 'Requerimientos' %>

					<li><a>-</a></li>
					
					<li class="dropdown">
    					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
        					Configuraci&oacute;n
        					<b class="caret"></b>
      					</a>
    					<ul class="dropdown-menu">
							<%= li_menu 'aplicaciones', 'Aplicaciones' %>
							<%= li_menu 'usuarios', 'Usuarios' %>
							<%= li_menu 'areas', 'Ãreas' %>
							<%= li_menu 'tipos_requerimientos', 'Tipos de act.' %>
							<%= li_menu 'estados', 'Estados'%>					
    					</ul>
  					</li>
				</ul>
			<% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
