<!DOCTYPE HTML>

<html>
	
	<head>
		<title>Gesti&oacute;n de la DIT</title>
		<%= stylesheet_link_tag    "bootstrap" %>
		<%= stylesheet_link_tag		"custom" %>
	    <style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	    
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	    
		<%= csrf_meta_tags %>
		<meta name="description" content="website description">
		<meta name="keywords" content="website keywords, website keywords">
		<meta http-equiv="content-type" content="text/html; charset=windows-1252">
	</head>
	
	<body>

		<%= render 'layouts/header' %>
		
		<div class="container">
			
			<%= yield %>

			<%= render 'layouts/footer' %>
		
	    </div> <!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<%= javascript_include_tag "bootstrap" %>
		<%= javascript_include_tag "application" %>
	</body>
	
</html>